1.	Create a python module with list and import the module in another .py file and change the value in list

In [2]:
import powermodule as pm
print(pm.power(4,5))
pm.list

1024

[6, 4, 5, 9, 10]

2.	Install pandas package (try to import the package in a python file

In [48]:
import pandas as pd

In [49]:
dict1={
    "Name":["Ram","Shyam","Rohit","Riya"],
    "Marks":[29,90,34,45],
    "city":["Bangalore","Nagpur","Rajasthan","Bihar"]
}
df=pde(dict1)
df

    Name  Marks       city
0    Ram     29  Bangalore
1  Shyam     90     Nagpur
2  Rohit     34  Rajasthan
3   Riya     45      Bihar

3.	Import a module that picks random number and write a program to fetch a random number from 1 to  100 on every run

In [50]:
import random as rand

In [51]:
for i in range(10):
    print(rand.randrange(1,101),end=" ")

95 21 87 58 66 75 80 76 51 41

4.	Import sys package and find the python path

In [13]:
import sys

In [14]:
sys.argv[0]

'C:\\Users\\Pratyush\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py'